@import "reset";
@import "variables/global";
@import "variables/text";
@import "themes/dark";
@import "themes/normal";

.app,
.app_modal,
.app_drawer {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    min-height: 100vh;
    background: var(--bg-color);
    transition: background-color 0.2s ease-in-out;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--inverted-primary-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--switcher-bg-color);
    border: 2px solid var(--inverted-primary-color);
    border-radius: 20px;
}

@media screen and (max-width: 3000px) {
    :root {
        font-size: 18px;
        line-height: 24px;
    }

    h1 {
        margin-bottom: 16px;
        font-size: 42px;
        line-height: 56px;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        font-size: 16px;
        line-height: 24px;
    }

    h1 {
        font-size: 38px;
        line-height: 56px;
    }
}

@media screen and (max-width: 841px) {
    h1 {
        margin-bottom: 10px;
        font-size: 26px;
        line-height: 40px;
    }
}
