@import "reset";
@import "variables/global";
@import "variables/text";
@import "themes/dark";
@import "themes/normal";

body {
    background: var(--bg-color);
    transition: background-color 0.2s ease-out;
}

.app {
    min-height: 100vh;
    font: var(--font-m);
    color: var(--primary-color);
}

*::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--inverted-primary-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--switcher-bg-color);
    border: 2px solid var(--inverted-primary-color);
    border-radius: 20px;
}
