@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
    // Размеры
    --navbar-height: 7vh;
    --switcher-size: 50px;

    // z - Индексы
    --modal-z-index: 10;
    --overlay-z-index: 1;

    // Цвета
    --overlay-color: rgba(0 0 0 / 60%);
    --red-light: #f00;
    --red-dark: #ce0505;
}
