@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
    --font-family-main: "Ubuntu", "Courier New", serif;

    // s
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

    // m
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

    // l
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    // xl
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
}

@media screen and (max-width: 3000px) {
    :root {
        // s
        --font-size-s: 16px;
        --font-line-s: 24px;

        // m
        --font-size-m: 24px;
        --font-line-m: 32px;

        // l
        --font-size-l: 32px;
        --font-line-l: 40px;

        // xl
        --font-size-xl: 40px;
        --font-line-xl: 48px;
    }
}

@media screen and (max-width: 1150px) {
    :root {
        // s
        --font-size-s: 14px;
        --font-line-s: 22px;

        // m
        --font-size-m: 22px;
        --font-line-m: 30px;

        // l
        --font-size-l: 30px;
        --font-line-l: 38px;

        // xl
        --font-size-xl: 38px;
        --font-line-xl: 46px;
    }
}

@media screen and (max-width: 1065px) {
    :root {
        // s
        --font-size-s: 10px;
        --font-line-s: 18px;

        // m
        --font-size-m: 18px;
        --font-line-m: 26px;

        // l
        --font-size-l: 26px;
        --font-line-l: 34px;

        // xl
        --font-size-xl: 34px;
        --font-line-xl: 42px;
    }
}

@media screen and (max-width: 600px) {
    :root {
        // s
        --font-size-s: 10px;
        --font-line-s: 18px;

        // m
        --font-size-m: 18px;
        --font-line-m: 26px;

        // l
        --font-size-l: 26px;
        --font-line-l: 34px;

        // xl
        --font-size-xl: 34px;
        --font-line-xl: 42px;
    }
}

@media screen and (max-width: 930px) {
    :root {
        // s
        --font-size-s: 8px;
        --font-line-s: 16px;

        // m
        --font-size-m: 16px;
        --font-line-m: 24px;

        // l
        --font-size-l: 24px;
        --font-line-l: 32px;

        // xl
        --font-size-xl: 32px;
        --font-line-xl: 40px;
    }
}

@media screen and (max-width: 850px) {
    :root {
        // s
        --font-size-s: 10px;
        --font-line-s: 14px;

        // m
        --font-size-m: 15px;
        --font-line-m: 22px;

        // l
        --font-size-l: 22px;
        --font-line-l: 30px;

        // xl
        --font-size-xl: 30px;
        --font-line-xl: 38px;
    }
}
