.BurgerButton {
    input[type="checkbox"] {
        display: none;
    }

    label {
        cursor: pointer;

        transform: translateY(-50%);

        width: 30px;
        height: 30px;

        transition: 0.3s ease transform;
    }

    label div {
        width: 6px;
        height: 6px;
        margin-bottom: 6px;
        margin-left: 0;

        background-color: var(--primary-color);
        border-radius: 4px;

        transition:
            0.3s ease width,
            0.3s ease margin-left,
            0.3s ease margin-bottom,
            0.3s ease background-color;
    }

    label div:first-child {
        width: 22px;
    }

    label div:nth-child(2) {
        width: 15px;
    }

    label div:last-child {
        width: 30px;
        margin-bottom: 0;
    }

    input[type="checkbox"]:checked ~ label {
        transform: translateY(-50%) rotateZ(-90deg);
    }

    input[type="checkbox"]:checked ~ label div {
        width: 6px;
        margin-bottom: 3px;
        margin-left: 12px;
        background-color: var(--switcher-bg-color);
    }
}
