.switchCheckbox {
    display: none;
    width: 0;
    height: 0;
}

.container {
    display: flex;
    gap: 8px;
    align-items: center;
}

.switchLabel {
    cursor: pointer;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: var(--switcher-size);
    height: calc(var(--switcher-size) / 2);

    background: #ec7e95;
    border-radius: 100px;
    box-shadow: var(--shadow);

    transition: background-color 0.4s;
}

.isOn {
    background: #05b689;
}

.switchLabel .switchButton {
    content: "";

    position: absolute;
    top: calc(var(--switcher-size) / 20);
    left: calc(var(--switcher-size) / 20);

    width: calc(var(--switcher-size) / 2.5);
    height: calc(var(--switcher-size) / 2.5);

    background: #fff;
    border-radius: 50%;
    box-shadow: var(--shadow);

    transition: 0.2s;
}

.switchCheckbox:checked + .switchLabel .switchButton {
    left: calc(100% - calc(var(--switcher-size) / 20));
    transform: translateX(-100%);
}

.switchLabel:active .switchButton {
    width: calc(var(--switcher-size) / 2);
}
