.Button {
    cursor: pointer;

    padding: 6px 10px;

    color: var(--primary-color);

    border-radius: 10px;
    box-shadow: var(--shadow);

    transition: all 0.1s ease-in-out;

    &:hover {
        opacity: 0.9;
        fill-opacity: 0.9;
        stroke-opacity: 0.8;
    }

    &:active {
        transform: scale(0.9);
    }
}

.clear {
    padding: 0;
    background: none;
    border: none;
    outline: none;
}

.outline {
    color: var(--primary-color);
    background: none;
    border: 1px solid var(--primary-color);
}

.background {
    color: var(--inverted-primary-color);
    background: var(--switcher-bg-color);
    border: none;
}

.square.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
    font: var(--font-m);
}

.square.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
    font: var(--font-l);
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.disabled {
    opacity: 0.5;
}

.fullWidth {
    width: 100%;
}
