.CoursesBlock {
    max-width: 1400px;
    min-height: 100vh;
    margin-right: auto;
    margin-left: auto;
    padding-top: var(--navbar-height);
    padding-right: 5vw;
    padding-left: 5vw;
}

.title {
    display: flex;
    justify-content: center;
    padding: 15px;
    font: var(--font-xl);
}
