.CourseCard {
    padding: 10px;
}

.title {
    font: var(--font-l);
}

.duration {
    display: flex;
    padding-top: 6px;
    font: var(--font-m);
    font-style: italic;
}

.school {
    font: var(--font-m);
}

.link {
    text-decoration: underline;
}

.listItem {
    padding: 12px;
}
