.About {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;

    max-width: 1200px;
    height: calc(100vh - var(--navbar-height));
    margin-right: auto;
    margin-left: auto;
    padding: 5vw 5vh;
}

.textBlock {
    padding: 15px;
}

.imageBlock {
    justify-content: center;
}

@media screen and (max-width: 841px) {
    .About {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 10vw;
    }

    .imageBlock {
        margin-top: 60vw;
    }
}
