.app_dark_theme {
    --bg-color: #6c6c9f;
    --inverted-bg-color: #eae8e8;
    --primary-color: #04ff04;
    --secondary-color: #31c931;
    --inverted-primary-color: #294979;
    --inverted-secondary-color: #59aba5;

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: #1d1dd9;

    // card
    --card-bg: #75759a;

    // listbox
    --listbox-bg: #75759a;
}
