.app_magenta_theme {
    --bg-color: #ffebef;
    --inverted-bg-color: #be3455;
    --primary-color: #9c2b8d;
    --secondary-color: #9c2b8d;
    --inverted-primary-color: #ffebef;
    --inverted-secondary-color: #ffebef;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: rgb(255 255 255 / 66%);

    // card
    --card-bg: #d3cccf;

    // listbox
    --listbox-bg: #d3cccf;
}
