:root {
    --bg-color: linear-gradient(120deg, #96fbc4 0%, #f9f586 100%);
    --inverted-bg-color: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    --primary-color: #59aba5;
    --secondary-color: #294979;
    --inverted-primary-color: #31c931;
    --inverted-secondary-color: #04ff04;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: rgb(255 255 255 / 66%);

    // card
    --card-bg: #dccdcd;

    // listbox
    --listbox-bg: #dccdcd;
}
