:root {
    --bg-color: #eae8e8;
    --inverted-bg-color: #6c6c9f;
    --primary-color: #59aba5;
    --secondary-color: #294979;
    --inverted-primary-color: #31c931;
    --inverted-secondary-color: #04ff04;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: rgb(255 255 255 / 66%);

    // card
    --card-bg: #dccdcd;

    // listbox
    --listbox-bg: #dccdcd;
}
