:root {
    --bg-color: linear-gradient(90deg, rgb(255 255 255) 84%, rgb(246 246 246) 100%);
    --inverted-bg-color: #2d2e28;
    --primary-color: #2d2e28;
    --secondary-color: #294979;
    --inverted-primary-color: #ffff;
    --inverted-secondary-color: #5ed3f3;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // card
    --card-bg: rgb(219 204 204 / 30%);

    // switcher
    --switcher-bg-color: #5ed3f3;

    // icons
    --icon-color: #036f91;

    // Тени
    --shadow: 4px 4px 8px 0 rgb(34 60 80 / 40%);
}
