.Navbar {
    position: sticky;
    z-index: 999;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: end;

    max-width: 100%;
    height: var(--navbar-height);
    padding: 6px 8vw;

    background: var(--bg-color);
}

.navItems {
    margin-right: 16px;

    // для подчеркивания
    a {
        position: relative;
        line-height: 1;
    }

    a::after {
        content: "";

        position: absolute;
        left: 0;

        display: block;

        width: 0;
        height: 2px;

        background-color: var(--switcher-bg-color);

        transition: width 0.3s ease-out;
    }

    a:hover::after,
    a:focus::after {
        width: 100%;
    }
}

.switchers {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.lang {
    padding: 4px 6px;
}

.theme {
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.navScreen {
    display: flex;
}

.BurgerButton {
    display: none;
}

@media screen and (max-width: 800px) {
    .Navbar {
        padding-right: 12px;
    }

    .BurgerButton {
        display: grid;
    }

    .navScreen {
        position: fixed;
        top: var(--navbar-height);
        right: 0;
        bottom: 0;
        left: 100%;

        flex-direction: column;

        font: var(--font-xl);
        text-align: center;

        background-color: inherit;

        transition: left 0.4s ease-in-out;
    }

    .navItems {
        display: flex;
        flex-direction: column;
        padding: 32px;
    }

    .switchers {
        display: none;
    }

    .lang {
        font: var(--font-xl);
    }

    .collapsed {
        left: 0;

        .switchers {
            display: flex;
            flex-direction: column;
        }
    }
}
