.Navbar {
    position: sticky;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: end;

    width: 100%;
    height: var(--navbar-height);
    padding: 10px 6vw;

    background: var(--bg-color);
}

.navItems {
    margin-right: 16px;

    a {
        position: relative;
        line-height: 1;
    }

    a::after {
        content: "";

        position: absolute;
        left: 0;

        display: block;

        width: 0;
        height: 2px;

        background-color: var(--switcher-bg-color);

        transition: width 0.3s ease-out;
    }

    a:hover::after,
    a:focus::after {
        width: 100%;
    }
}

.switchers {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.lang {
    padding: 4px 6px;
}

.theme {
    align-items: center;
    justify-content: center;
    justify-items: center;
}
