.ContactCard {
    display: flex;
    justify-content: flex-start;

    a {
        position: relative;
        line-height: 2;
    }

    a::after {
        content: "";

        position: absolute;
        left: 0;

        display: block;

        width: 0;
        height: 2px;

        background-color: var(--icon-color);

        transition: width 0.3s ease-out;
    }

    a:hover::after,
    a:focus::after {
        width: 100%;
    }
}

.icon {
    width: 3rem;
    height: 3rem;
    padding-right: 10px;
}
