.SkillsBlock {
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    margin-right: auto;
    margin-left: auto;
    padding-top: var(--navbar-height);
}

.skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0 4vh;

    :hover {
        scale: 1.05;
        transition: 0.5s ease-out;
    }
}

.title {
    display: flex;
    justify-content: center;
    padding: 15px;
    font: var(--font-xl);
}

@media screen and (max-width: 500px) {
    .SkillsBlock {
        height: 100%;
        padding: var(--navbar-height) 2vh 0;
    }
}
