.SkillsBlock {
    width: 100%;
    min-height: calc(100vh - var(--navbar-height));
    padding: 2vh 5vw;
}

.skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.title {
    display: flex;
    justify-content: center;
    padding: 15px;
    font: var(--font-xl);
}

@media screen and (max-width: 841px) {
    .SkillsBlock {
        height: 100%;
    }
}

@media screen and (max-height: 670px) {
    .SkillsBlock {
        height: 100%;
    }
}
