.Card {
    padding: 6px 15px;
    border-radius: 12px;
    box-shadow: var(--shadow);
}

.normal {
    background: var(--card-bg);
}

.outlined {
    border: 1px solid var(--primary-color);
}

.second {
    cursor: pointer;
    color: var(--inverted-primary-color);
    background: var(--switcher-bg-color);

    &:hover {
        transform: scale(0.99);
        opacity: 0.9;
        transition: 0.1s ease-in-out;
    }
}

.max {
    width: 100%;
}
