.SkillCard {
    min-width: 160px;
    padding: 6px;
    text-align: center;
}

.title {
    display: flex;
    justify-content: center;
}

.icon {
    width: 6rem;
    height: 6rem;
}

@media screen and (max-width: 500px) {
    .SkillCard {
        min-width: 90px;
        max-width: 90px;
    }

    .title {
        font: var(--font-m);
    }

    .icon {
        width: 2.5rem;
        height: 2.5rem;
    }
}
